body{
  background-color: #FFFFFF;
}
.container{
  background-color:#FFFFFF;
}

.project-list{
  width: 100% !important;
}
.task-list{
  width: 100% !important;
}

.toggle-timer{
  cursor: pointer;
}

.select2-container--default .select2-selection--single{
  border-radius: 0px;
}
.task-timer-holder tr td {
    white-space: nowrap;
}